<cachingProvider>
<bindings>
  <binding id="DMPHub" class="DCLSystem.Core.Caching.RedisCache.RedisContext,DCLSystem.Core.Caching">
    <property name="appRuleFile" ref="rule"/>
    <property name="dataContextPool" value="ddls_sample">
      <map name="Redis">
        <property  value="127.0.0.1:6379::1"/>

      </map>
      <map name="WebCache"></map>
      <map name="CouchBase">
        <property  value="sample:123456@127.0.0.1:8091::pools"/>

      </map>
    </property>
    <property name="defaultExpireTime" value="120"/>
    <property name="connectTimeout" value="120"/>
    <property name="minSize" value="1"/>
    <property name="maxSize" value="50"/>
  </binding>
</bindings>
</cachingProvider>