<eventProvider>
  <queues>
    <queue id="DMPHubEvent" class="DMPSystem.Core.EventBus.Utilities.QueueContext,DMPSystem.Core.EventBus">
      <property name="appRuleFile" ref="rule"/>
      <property name="dataContextPool" value="event_sample">
        <map name="RabbitMq">
          <property  value="guest:guest@127.0.0.1::test"/>
        </map>
        <map name="MsMq"></map>
      </property>
      <property name="connectTimeout" value="120"/>
      <property name="CunsumerNum"  value="5"/>
      <property name="UseRetryNum"  value="5"/>

    </queue>
  </queues>
</eventProvider>