<services>
  <service name="DMPSystem.Services.DMPHubWcfService.Basic.ManagerService" behaviorConfiguration="MetadataBehavior">
    <host>
      <baseAddresses>
      </baseAddresses>
    </host>
    <endpoint address ="" binding="wsHttpBinding" bindingConfiguration="NoneSecurity"    contract="DMPSystem.Services.DMPHubServiceContract.Basic.IManagerService" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
  </service>
  </services>