<bindings>
  <wsHttpBinding>
    <binding name="NoneSecurity" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" >
      <security mode="None"/>
    </binding>
    <binding name="WSHttpBinding_ISequenceProviderService" useDefaultWebProxy="false">
      <security mode="None" />
    </binding>
  </wsHttpBinding>
  <basicHttpBinding>
    <binding name="NoneSecurity"  maxReceivedMessageSize="2147483647"  closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" >
      <security mode="None" />
    </binding>
    <binding name="FileBinding"    receiveTimeout="10:10:10"   transferMode="Streamed" maxReceivedMessageSize="2147483647">
      <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
      <security mode="None" />
    </binding>
      <binding name="BasicHttpBinding_IWeChatAccessService" />
  </basicHttpBinding>

</bindings>